*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: 'Tajawal', sans-serif;
  
}
ul , li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
:root {
  --mainColor : #33835C ;
 
}
/* utility classes */
.pointer {
  cursor: pointer;
}
.title {
  font-size: 24px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);

}
.btn {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 408px;
 
 
 height: 45px;
 color: #5B5B5B;
 font-weight: 700;
 font-size: 20px;
 padding: 14px 10px;
 border-radius: 4px;
 border: 2px solid #C0C0C0;
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 -ms-border-radius: 4px;
 -o-border-radius: 4px;
}
@media screen and (max-width : 500px) {
  .btn {
    width: 320px;
  }
}
.activeBtn {
  color: white !important;
  background-color: var(--mainColor) !important;
  border: none;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.table th {
  background-color: var(--mainColor) !important;
  color: white !important;
}
.table th,
.table td {
  padding: 8px;

  border-bottom: 1px solid #ddd;
}

.table-responsive {
  overflow-x: auto;
}